@font-face {
    font-family: NotoSansMono;
    src: url(/font/NotoSansMono-Regular.ttf);
}

.container-fluid {
    background-color: #223843;
    color: #59C9A5;
    font-family: NotoSansMono;
    height: 100%;
    min-height: 100vh; 
}

#title {
    text-align: left;
    font-size: 28px;
}

#status-box {
    text-align: right;
    color: #EF6F6C;
    font-size: 24px;
}

#content {
    height: 450px;
    font-size: 18px;
    border: 2px solid;
    border-color: #27BBB2;
    border-radius: 5px;
    overflow: auto;
    white-space: pre-wrap;
}

textarea {
    white-space: pre;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: horizontal;
    height: 36px;
    max-height: 450px;
    width: 100%;
    display: block;
    outline: none;
}

#user {
    color: #F5EAFF;
}

.row {
    margin-bottom: 10px;
}